<div id = "login-background"></div>

<div class = "container-login">
  <div class = "wrap-login">

    {{!--
    //////////////////// 
    //////Form Div////// 
    ////////////////////
     --}}

    <div class="col-s-12">

      {{!-- 
      ////////////////////
      //////PW Reset//////
      ////////////////////
      --}}

      {{#if showResetForm}}

        <h4 class="reset-form-title">
          Password Reset
        </h4>
        <p class="text-center padding-bottom-10">Enter your username below and we'll send you password reset instructions.</p>

        {{{message}}}
        
        <form action="/resetRequest" method="POST">

          <div class="login-input-wrap">
            <input class="login-input" type="text" name="username" placeholder="Username">
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="far fa-user"></i>
            </span>
          </div>

            <div class="container-login-form-btn">
              <button type="submit" class="login-btn" type="submit">
                Reset Password
                </button>
            </div>

        </form>

        <div class="text-center">
          <a class="link" href="/">
            Back to Login
          </a>
        </div>
        
        <div class="text-center">
          <a class="link" href="/signup">
            Create your Account <i class="fas fa-long-arrow-alt-right"></i>
          </a>
        </div>

      {{!-- 
      ////////////////////
      ///Create Account///
      ////////////////////
      --}}
      
      {{else if showSignupScreen}}
        <h4 class="login-form-title">
          Join EmployEase
        </h4>

        {{{message}}}

        <form action="/signup" method="POST">

          <div class="login-input-wrap">
            <input class="login-input" type="text" name="username" placeholder="Username" value={{username}}>
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="far fa-user"></i>
            </span>
          </div>

          <div class="login-input-wrap">
            <input class="login-input" type="password" name="password" id="password" placeholder="Password">
            <span class="focus-login-input" id="passID1Flair"></span>
            <span class="symbol-login-input" id="passID1">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          

          <div class="login-input-wrap">
            <input class="login-input" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password" onChange="checkPasswordMatch();">
            <span class="focus-login-input" id="passID2Flair"></span>
            <span class="symbol-login-input" id="passID2">
              <i class="fas fa-lock"></i>
            </span>
          </div>

          <p id="passMessage"></p>

          <div class="login-input-wrap">
            <input class="login-input" type="text" name="companyName" placeholder="Company Name" value={{companyName}}>
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="far fa-building"></i>
            </span>
          </div>

          <div class="login-input-wrap">
            <input class="login-input" type="text" name="email" placeholder="Email" value={{email}}>
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="far fa-envelope"></i>
            </span>
          </div>

          <div class="container-login-form-btn">
            <button id="create-btn" class="login-btn" type="submit">
              Sign up
            </button>
          </div>

        </form>
        
        <div class="text-center">
          <a class="link" href="/">
            <i class="fas fa-long-arrow-alt-left"></i> Back to Login
          </a>
        </div>

      {{!-- 
      //////////////////// 
      /////Login Form///// 
      //////////////////// 
      --}}
      
      {{else}}
        <h4 class="login-form-title">
          Member Login
        </h4>

        {{{message}}}

        <form action="/login" method="POST">

          <div class = "login-input-wrap">
            <input class="login-input" type="text" name="username" placeholder="Username">
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="far fa-user"></i>
            </span>
          </div>

          <div class = "login-input-wrap">
            <input class="login-input" type="password" name="password" placeholder="Password">
            <span class="focus-login-input"></span>
            <span class="symbol-login-input">
              <i class="fas fa-lock"></i>
            </span>
          </div>

          <div class = "container-login-form-btn">
            <button class="login-btn" type="submit">
              Login
            </button>
          </div>

        </form>

          <div class="text-center">
            <a class="link" href="/resetRequest">
              Forgot Password?
            </a>
          </div>

          <div class="text-center">
            <a class="link" href="/signup">
            Create your Account <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </div>

        {{/if}}

    </div>
  </div>
</div>


<footer class="container-fluid footer">
  <h4 class="text-center">EmployEase</h4>
  <h6 class="text-center">Crafted in RVA</h6>
  <h6 class="text-center">&copy; 2018 Designed by
    <a href="https://github.com/nalease" class="footer-link">Nalease</a>,
    <a href="https://github.com/JaredRoss14" class="footer-link">Jared</a>,
    <a href="https://github.com/rmccracken" class="footer-link">Rob</a>,
    <a href="https://github.com/dmfriendjr" class="footer-link">David</a>
  </h6>
</footer>