<h1>Employees</h1>
{{!-- <a href="/timetable">Timetable</a> --}}
{{message}}
<form method="post" action="/employees">
  <label for="name">Employee Name</label>
  <input type="text" name="name" value={{employeeName}}>
  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" value={{employeePhone}}>
  <label for="email">Email</label>
  <input type="Text" name="email" value={{employeeEmail}}>
  <button type="submit">Add Employee</button>
</form>

    
<ul>
{{#each employees}}
<li id={{id}}>
 {{name}} {{phone_number}} {{email}} <button class="deleteEmployee">Delete</button>
</li>
{{/each}}
</ul>
<div class="timetable" method="post" action="/employees"></div>

<script>
  $('.deleteEmployee').on('click', (event) => {
    console.log(event.target.parentNode.id);
    $.ajax({
      method: 'GET',
      url: '/employees',
      contentType: 'application/json',
      data: JSON.stringify({
        id: event.target.parentNode.id
      }),
    }).then(() => {
      location.reload();
    });
  });
console.log("/employees");

let testVar = "Bob";
      var timetable = new Timetable();

      timetable.setScope(0,23)

      timetable.addLocations(['Jerry', testVar]);

      timetable.addEvent('Bartender', 'Jerry', new Date(2015,7,17,9,00), new Date(2015,7,17,11,30), { url: '#' });
      timetable.addEvent('Server', testVar, new Date(2015,7,17,9,00), new Date(2015,7,17,11,30), { url: '#' });
     
      var renderer = new Timetable.Renderer(timetable);
      renderer.draw('.timetable');
    </script>

    