<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h3 class="navbar-header">{{user.company}}</h3>
    <div class="navbar-right dropdown">
      Signed in as <span class="dropdown-toggle nav-name-dropdown" data-toggle="dropdown">{{user.username}}</span>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

        <li>
          <a href="/ManageEmployees">
            <i class="fas fa-users"></i> Manage Employees
          </a>
        </li>

        <li>
          <a href="/scheduling">
            <i class="far fa-address-card"></i> Schedule
          </a>
        </li>

        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
  </div>
</nav>

<div class="container">
  <h1 class="text-center mb-5">Employees</h1>
  {{{message}}}
  <div class="row">
    <div class="col-md-6 col-12">
      <form method="post" class="form-group" action="/employees">
        <div class="form-group">
          <label class="col-4" for="name">Employee Name</label>
          <input class="col-8 form-control" 
            type="text"
            placeholder="John Doe"
            name="name" 
            value={{employeeName}}>
        </div>

        <div class="form-group">
          <label class="col-4" for="phone_number">Phone Number</label>
          <input class="col-8 form-control" type="text" placeholder="555-555-5555" name="phone_number" value={{employeePhone}}>
        </div>

        <div class="form-group">
          <label class="col-4" for="email">Email</label>
          <input class="col-8 form-control" type="email" placeholder="email@email.com" name="email" value={{employeeEmail}}>
        </div>

        <button class="btn btn-success" type="submit">Add Employee</button>
      </form>
    </div>
    <div class="col-md-6 col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {{#each employees}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{name}}</td>
            <td>{{phone_number}}</td>
            <td>{{email}}</td>
            <td><button class="btn btn-danger deleteEmployee">Delete</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('.deleteEmployee').on('click', (event) => {
    console.log(event.target.parentNode.id);
    $.ajax({
      method: 'DELETE',
      url: '/employees',
      contentType: 'application/json',
      data: JSON.stringify({
        id: event.target.parentNode.id
      }),
    }).then(() => {
      location.reload();
    });
  });
</script>