<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h3 class="navbar-header">{{user.company}}</h3>
    <li class="navbar-right dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signed in as {{user.username}}</a>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
        </li>
      </ul>
  </div>
</nav>


<h1>Employees</h1>
{{!--<a href="/timetable">Timetable</a> --}} 
{{message}}
<form method="post" action="/employees">
  <label for="name">Employee Name</label>
  <input type="text" name="name" value={{employeeName}}>
  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" value={{employeePhone}}>
  <label for="email">Email</label>
  <input type="Text" name="email" value={{employeeEmail}}>
  <button type="submit">Add Employee</button>
</form>


<ul>
  {{#each employees}}
  <li id={{id}}>
    {{name}} {{phone_number}} {{email}}
    <button class="deleteEmployee">Delete</button>
  </li>
  {{/each}}
</ul>
<button class="addShift">Add Shift</button>

<form action="/shifts" method="post">
  <select name="employee">
    {{#each employees}}
    <option value={{id}}>{{name}}</option>
    {{/each}}
  </select>
  <input type="text" name="shift_title" />
  <input type="datetime-local" name="start_date" />
  <input type="datetime-local" name="end_date" />
  <button type="submit">Add</button>
</form>

<form action="/shifts" method="get">
View Schedule Date:<input type="text" id="datepicker">
<button class="getShifts">Add</button>
</form>


<div class="timetable"></div>

<script>
//let date = $(function () {
//    $("#datepicker").datepicker();
//  });
let date = "03/01/2018";

  $('.deleteEmployee').on('click', (event) => {
    console.log(event.target.parentNode.id);
    $.ajax({
      method: 'DELETE',
      url: '/employees',
      contentType: 'application/json',
      data: JSON.stringify({
        id: event.target.parentNode.id
      }),
    }).then(() => {
      location.reload();
    });
  });

  $.ajax({
    method: 'GET',
    url: '/employees',
  }).then((employees) => {

    let employeeNames = employees.map(employees => employees.name);


    let timetable = new Timetable();
    timetable.setScope(8, 7);
    timetable.addLocations(employeeNames);
    $.ajax({
      method: 'GET',
      url: '/shifts/' + date,
    }).then((shifts) => {
      console.log(shifts)

      var timetable = new Timetable();
      timetable.setScope(8,7);
      timetable.addLocations(employeeNames);

      timetable.addEvent('Server', employeeNames[0], new Date(2015, 7, 17, 9, 00), new Date(2015, 7, 17, 11, 30), { url: '#' });

      var renderer = new Timetable.Renderer(timetable);
      renderer.draw('.timetable');
    });
  });
</script>