<h1>Employees</h1>
{{!-- <a href="/timetable">Timetable</a> --}}
{{message}}
<form method="post" action="/employees">
  <label for="name">Employee Name</label>
  <input type="text" name="name" value={{employeeName}}>
  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" value={{employeePhone}}>
  <label for="email">Email</label>
  <input type="Text" name="email" value={{employeeEmail}}>
  <button type="submit">Add Employee</button>
</form>

    
<ul>
{{#each employees}}
<li id={{id}}>
 {{name}} {{phone_number}} {{email}} <button class="deleteEmployee">Delete</button>
</li>
{{/each}}
</ul>
<button class="addShift">Add Shift</button>
<div class="timetable"></div>

<script>
  $('.deleteEmployee').on('click', (event) => {
    console.log(event.target.parentNode.id);
    $.ajax({
      method: 'DELETE',
      url: '/employees',
      contentType: 'application/json',
      data: JSON.stringify({
        id: event.target.parentNode.id
      }),
    }).then(() => {
      location.reload();
    });
  });

  $.ajax({
    method: 'GET',
    url: '/employees',
  }).then((employees) => {

    let employeeNames = employees.map(employees => employees.name);

    var timetable = new Timetable();
    timetable.setScope(0,23);
    timetable.addLocations(employeeNames);

    timetable.addEvent('Server', employeeNames[0], new Date(2015,7,17,9,00), new Date(2015,7,17,11,30), { url: '#' });
     
      var renderer = new Timetable.Renderer(timetable);
      renderer.draw('.timetable');
  });
    </script>

    