<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h3 class="navbar-header">{{user.company}}</h3>
    <li class="navbar-right dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signed in as {{user.username}}</a>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
        </li>
      </ul>
  </div>


  {{!-- <form method="get" action="/logout">
    <button type="submit">
      <i class="fas fa-sign-out-alt"></i>
       Logout
    </button>
  </form> --}}
</nav>





{{!-- <h3>Company: {{user.company}}</h1>
<h3>Email: {{user.email}}</h3>
<h3>Username: {{user.username}}</h3>

<form method="get" action="/manageEmployees">
  <button type="submit">Manage Employees</button>
</form> --}}


