<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h3 class="navbar-header">{{user.company}}</h3>
    <div class="navbar-right dropdown">
      Signed in as
      <span class="dropdown-toggle nav-name-dropdown" data-toggle="dropdown">{{user.username}}</span>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

        <li>
          <a href="/ManageEmployees">
            <i class="fas fa-users"></i> Manage Employees
          </a>
        </li>

        <li>
          <a href="/scheduling">
            <i class="far fa-address-card"></i> Schedule
          </a>
        </li>

        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
    </div>
</nav>


<form action="/shifts" method="post">
  <select name="employee">
    {{#each employees}}
    <option value={{id}}>{{name}}</option>
    {{/each}}
  </select>
  <input type="text" name="shift_title" />
  <input type="datetime-local" name="start_date" />
  <input type="datetime-local" name="end_date" />
  <button type="submit">Add</button>
</form>

<form action="/shifts" method="get">
View Schedule Date:<input type="text" id="datepicker">
</form>


<div class="timetable"></div>

<div id="myModal" class="modal show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Shift</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/shifts?_method=PUT" method="post">
          <input type="hidden" name="id" value={{shiftId}} />
          <input type="text" name="shift_title" value={{shiftTitle}} />
          <input type="datetime-local" name="start_date" value={{shiftStart}} />
          <input type="datetime-local" name="end_date" value={{shiftEnd}} />
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  if (window.location.href.indexOf('/editShift') !== -1) {
    $('#myModal').modal();
  }

 
let timetable = new Timetable();

var renderer = new Timetable.Renderer(timetable);
timetable.setScope(8, 7);
$.ajax({
  method: 'GET',
  url: '/employees'
}).then(employees => {
  let employeeNames = employees.map(employee => employee.name);
  timetable.addLocations(employeeNames);
})

$("#datepicker").datepicker({
  onSelect: function(dateText) {
  $.ajax({
      method: 'GET',
      url: '/employees',
    }).then((employees) => {

      let employeeData = employees.map(employee => ({
        name: employee.name,
        id: employee.id
      }));
        timetable.events = []
      $.ajax({
        method: 'GET',
        url: '/shifts/' + dateText,
      }).then((shifts) => {

        employeeData.forEach(employee => {
          let empShifts = shifts.filter(shift => shift.employeeId === employee.id);
          empShifts.forEach(shift => {
            let start = moment(shift.start_date);
            let end = moment(shift.end_date);
            console.log('Shift is:', shift);
            console.log('employee is:', employee);
            console.log(timetable);
            timetable.addEvent(shift.shift_title, employee.name, new Date(start.year(), start.month(), start.day(), start.hour(), start.minute()),
            new Date(end.year(), end.month(), end.day(), end.hour(), end.minute()),
            { url: `/editShift/${shift.id}` });
          })
        });

        renderer.draw('.timetable');
        
      });
    });
    }
});;



 
</script>