<div id="account-background"></div>

{{!-- 
//////////////////// 
//////Nav Bar/////// 
//////////////////// 
--}}

<nav id="navigation" class="navbar navbar-default">
  <div class="container">
    <h3 class="navbar-header account-page-font">EmployEase</h3>
    <div class="navbar-right dropdown account-page-font">
      Signed in as <span class="dropdown-toggle nav-name-dropdown" data-toggle="dropdown">{{user.username}}</span> <span class="caret"></span>
      
      <ul class="dropdown-menu">

        <li>
          <a href="/ManageEmployees" class="dropdown-link">
            <i class="fas fa-users"></i> Employees
          </a>
        </li>

        <li>
          <a href="/scheduling" class="dropdown-link">
            <i class="far fa-address-card"></i> Schedule
          </a>
        </li>

        <li>
          <a href="/logout" class="dropdown-link">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      
    {{!-- 
    //////////////////// 
    //Create New Shift// 
    //////////////////// 
    --}}

    <div id = "new-shift" class="col-md-3 pt-2">
      <h4 class="text-right">New Shift</h4>
      <p class = "text-center bg-warning rounded">{{message}}</p>
        
      <form id="new-shift-form" action="/shifts" class="form-group" method="post">

        <div class="form-group text-right">
          <label for="employeeFormName">Employee</label>
          <select class="form-control employee-form-control text-right border-bottom col-8 offset-4" name="employee">
            {{#each employees}}
              <option value={{id}}>{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group text-right">
          <label for="employeeFormPosition">Position</label>
          <input type="text" name="shift_title" class="form-control employee-form-control text-right border-bottom col-8 offset-4" id="employeeFormPosition" placeholder="Employee Position">
          <small id="positionHelp" class="form-text text-muted text-right border-bottom col-8 offset-4">What will the employee be doing?</small>
        </div>

        <div class="form-group text-right">
          <label for="employeeFormStart">Shift Starts</label>
          <input class="form-control employee-form-control text-right col-8 offset-4" type="datetime-local" name="start_date" />
        </div>

        <div class="form-group text-right">
          <label for="employeeFormEnd">Shift Ends</label>
          <input class="form-control employee-form-control text-right col-8 offset-4" type="datetime-local" name="end_date" />
        </div>

        <button class="invisible-button float-right" type="submit">
          <i class="fas fa-plus"></i> New Shift
        </button>
          
      </form>

      <button class="btn btn-success" id="emailSchedule">Email Schedule</button>
    </div>

    <div class="col-md-7 offset-md-1 col-s-12">
      <form class="main-date-form" action="/shifts" method="get">
        <h1 class="text-center">Schedule</h1>
        <div class="d-flex justify-content-center">
          <input class="schedule-input" type="date" id="datepicker">
        </div>
      </form>
      <div class="timetable"></div>
    </div>

    <div id="myModal" class="modal show">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Shift</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/shifts?_method=PUT" method="post">
              <input type="hidden" name="id" value={{shiftId}} />
              <input type="text" name="shift_title" value={{shiftTitle}} />
              <input type="datetime-local" name="start_date" value={{shiftStart}} />
              <input type="datetime-local" name="end_date" value={{shiftEnd}} />
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>

if (window.location.href.indexOf('/editShift') !== -1) {
  $('#myModal').modal();
}

let timetable = new Timetable();
let shiftEmailData = {};

var renderer = new Timetable.Renderer(timetable);
timetable.setScope(8, 7);
$.ajax({
  method: 'GET',
  url: '/employees'
}).then(employees => {
  let employeeNames = employees.map(employee => employee.name);
  timetable.addLocations(employeeNames);
})


$('#datepicker').on('change', (event) => {
  let dateText = moment(event.target.value).format('MM/DD/YYYY');
  $.ajax({
      method: 'GET',
      url: '/employees',
    }).then((employees) => {

      let employeeData = employees.map(employee => ({
        name: employee.name,
        id: employee.id,
        email: employee.email
      }));
        timetable.events = []
      $.ajax({
        method: 'GET',
        url: '/shifts/' + dateText,
      }).then((shifts) => {

        employeeData.forEach(employee => {
          let empShifts = shifts.filter(shift => shift.employeeId === employee.id);
          empShifts.forEach(shift => {
            let start = moment(shift.start_date);
            let end = moment(shift.end_date);
            timetable.addEvent(shift.shift_title, employee.name, new Date(start.year(), start.month(), start.day(), start.hour(), start.minute()),
            new Date(end.year(), end.month(), end.day(), end.hour(), end.minute()),
            { url: `/editShift/${shift.id}` });
            
            if (!shiftEmailData[employee.id]) {
              shiftEmailData[employee.id] = {};
              shiftEmailData[employee.id].shifts = [];
            }
            

            shiftEmailData[employee.id].email = employee.email;

            shiftEmailData[employee.id].shifts.push({
              shiftTitle: shift.shift_title,
              shiftStart: shift.start_date,
              shiftEnd: shift.end_date
            });
          })
        });

        renderer.draw('.timetable');
        
      });
    });
    }
)

$('#emailSchedule').on('click', () => {
  $.ajax({
    method: 'POST',
    url: 'emailSchedule',
    data: JSON.stringify(shiftEmailData),
    contentType: 'application/json'
  });
})

$('#datepicker').val(moment().format('YYYY-MM-DD')).change();
</script>